
/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* colori */
:root {
    --color-white: #ffffff;
    --color-bg-color: #d9d9d9;
    --color-primary: #7c69a4;
    --color-dark-text: #4e3969;
    --color-black: #282529;
    --color-contrast: #fa961a;
    --color-icon-red: #ea5556;
    --color-icon-blue: #2871f0;
}

/* dettagli tutta la pagina  */
body {
    font-family: "Edu TAS Beginner", cursive;
    background-image: url(img/cork.png);
}
/* parte iniziale pagina (intestazione)*/
header {
    background-image: url(img/wall.png);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 4em;
}
/*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  */
/*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  */

/* parte centrale della pagina (corpo, main)*/
.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
}

.card {
    height: 100%;
    width: calc(33.33% - 23px);
    margin: 20px 10px;
    background-color: white;
    display: inline-block;
    cursor: pointer;
    transition: transform 0.5s ease-in;
    position: relative;
    border-radius: 10px;
    transition: width 0.6s ease;    
}

.card:hover {
    transform: scale(1.1) rotate(5deg);
    box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.7);
    z-index: 100;
}

.card:hover .pin{
    display: none;
}

.pin{
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translate(-50%);
}

img {
    width: 100%;
    border-radius: 10px; 
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.image {
    height: 80%;
    padding: 10px; 
}

.image img:hover{
    transform: scale(1.06);
}

.text {
    width: 100%;
    height: 50px;
    padding: 0px 10px;
    background-color: var(--color-white);
    border-radius: 10px; 
}
/*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  */
/*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  */

/* sezione overlay */
/* posizionamento overlay */
#overlay{
    background-color: rgba(0, 0, 0, 0.6);;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;   
    z-index: 1000;
}

/* img overlay */
#img-overlay{
    width: 600px;
    height: 600px;
    transition: transform 0.5s ease;
    cursor: pointer;
}
#img-overlay:hover{
    transform: scale(1.1); 
}

/* bottone overlay */
.button{
    margin-top: 35px;
    padding: 15px 35px;
    border-radius: 25px;
    cursor: pointer;
    background-color: var(--color-black);
    color: var(--color-white);
    font-size: 1em;
    transition: transform 0.3s ease;
}

.button:hover {
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.7);
    transform: scale(1.2); 
}

/* non fa visualizzar l'overlay */
.d-none{
    display: none !important;
}

/*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  */
/*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  */

/* media query */
@media screen and (max-width : 768px) {
    .card {
        width: calc(50% - 23px);
    }
}

@media screen and (max-width : 492px) {
    .card {
        width: calc(100% - 23px);
    }
}