* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug {
    border: 1px solid black;
}

:root {
    --color-white: #ffffff;
    --color-bg-color: #d9d9d9;
    --color-primary: #7c69a4;
    --color-dark-text: #4e3969;
    --color-black: #282529;
    --color-contrast: #fa961a;
    --color-icon-red: #ea5556;
    --color-icon-blue: #2871f0;
}

body {
    font-family: "Edu TAS Beginner", "cursive";
    background-image: url(img/cork.png);
}

header {
    background-image: url(img/wall.png);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 4em;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}


.card {
    height: 100%;
    width: calc(33.33% - 23px); 
    margin: 20px 10px;
    background-color: white;
    display: inline-block;
}

.img {

    height: 80%;
    background-color: var(--color-white);
    padding: 10px;
}

img{
    width: 100%;
}

.text {
    width: 100%;
    height: 100px;
    padding: 30px 10px;
    background-color: var(--color-white);
}


